<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		= "com.phonegap.getting.started"
        version 	= "1.0.0">

    <name>1100AD stats</name>

    <description>
        1100AD Stats
    </description>

    <author href="http://new.1100ad.com"
            email="pomaxa@ambergames.com">
        Ground Transportation Network, LLC
    </author>

    <icon src="icon.png" gap:role="default" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="orientation" value="portrait" />

    <access uri="https://transportationit.com" subdomains="true"></access>
</widget>